/* header.page-header {
  background: no-repeat left/cover url(/media/examples/puppy-header-logo.jpg);
  display: flex;
  height: 120px;
  min-width: 120px;
  align-items: center;
  color: #fff;
  text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
      fantasy;
  margin: 2%;
}

main {
  font: 1rem 'Fira Sans', sans-serif;
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1.5%;
}

.homepage {
  text-decoration: unset;
  color: unset;
}

.nav-item {
  margin-left: 20px;
}

.square-border {
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}

main {
  float: left;
  margin: 0 1.5%;
  width: 63%;
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.table-amigos-ong {
  width: 70%;
}

.table-amigos-ong tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text-align-center {
  text-align: center;
}
